{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Teams</title>
{% endblock %}

{% block body %}
    <div class="container container-sm">
        <a href="{% url 'team_create' %}" class='btn btn-info'>Create team</a>
        <br>
        <br>
        {% for block in teams %}
            <div>
                <h3>{{ block.name }}</h3>
                <h5><strong>lead: {{ block.lead.get_short_name }} ({{ block.lead.email }})</strong></h5>
                <a href="{% url 'team_retrieve' block.prefix %}" class='btn btn-outline-info'>
                    Check team
                </a>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}