{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Update {{ team.name }}</title>
{% endblock %}

{% block body %}

    <form action="{% url 'team_update' team.prefix %}" method='post' class='container-sm'>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class='btn btn-primary'>Update name</button>
        <a href="{% url 'team_retrieve' team.prefix %}" class='btn btn-secondary'>Go back</a>
        <br>
        <br>
        {% if messages %}
            {% for message in messages %}
                <p class='{{ message.tags }}'>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </form>
    <hr>
    <div class="container-sm">
        <h3>Teammates:</h3>
        <form action="{% url 'team_add_users' team.prefix %}" method="post">
            {% csrf_token %}
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                    <button type='submit' class='btn btn-success' class="input-group-text" id="inputGroup-sizing-lg">Add</button>
              </div>
              <input type="text" class="form-control" aria-label="Large" 
              aria-describedby="inputGroup-sizing-sm" name='user_email'>
            </div>
        </form>
        <div class="container-sm">
            {% csrf_token %}
            {% for user in team.users.all %}
                {% if request.user.id != user.id %}
                    <p>
                        <a href="{% url 'team_remove_users' team.prefix user.id%}" class='btn btn-danger'>Delete</a>
                        {{ user.get_short_name }} ({{ user.email }})
                    </p>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}