{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Create a new team</title>
{% endblock %}

{% block body %}

    <form action="{% url 'team_create' %}" method='post' class='container-sm'>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class='btn btn-primary'>Create team</button>
        <a href="{% url 'team_list' %}" class='btn btn-secondary'>Go back</a>
        <br>
        <br>
        {% if messages %}
            {% for message in messages %}
                <p class='{{ message.tags }}'>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </form>

{% endblock %}