{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>{{ team.name }}</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h3>{{ team.name }}</h3>
            <h5><strong>lead: {{ team.lead.get_short_name }} ({{ team.lead.email }})</strong></h5>
            <h3>teammate:</h3>
            <ul>
                {% for teammate in team.users.all %}
                    <li>{{ teammate.get_short_name }} ({{ teammate.email }})</li>
                {% endfor %}
            </ul>
            {% if request.user.is_authenticated %}
                {% if request.user.id == team.lead.id %}
                    <a href="{% url 'team_update' team.prefix %}" class='btn btn-info'>
                        Update team</a>
                    <a href="{% url 'team_delete' team.prefix %}" class='btn btn-danger'>
                        Delete team</a>
                {% endif %}
            {% endif %}
        </div>
        <hr>
        <h3 class=''>Projects:</h3>
        {% for project in team_projects %}
            <div class="container-sm">
                <h3>{{ project.name }}</h3>
                <h5>{{ project.description }}</h5>
                <h5><strong>lead: {{ project.lead.get_short_name }} ({{ project.lead.email }})</strong></h5>
                <a href="" class='btn btn-outline-info'>
                    Check project
                </a>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}